<nav class="navbar navbar-expand-lg navbar-light bg-light mx-5">
    <a class="navbar-brand" href="#">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['addtar']" routerLinkActive="router-link-active" >Add Tar</a>
        </li>
      </ul>
    </div>
  </nav>
<div class="container m-4">
    <div class="main-body">
          <!-- /Breadcrumb -->
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 gutters-sm">
            <div class="col mb-3">
              <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">Django Project</h5>
                  <p class="text-secondary mb-1">Date Lancement : 15/12/2021</p>
                  <p class="text-secondary mb-1">Nature : Project</p>
                  <p class="text-secondary mb-1">Etat : Actif</p>
                  <p class="text-secondary mb-1">DDL : 01/01/2022</p>
                </div>
                <div class="card-footer">
                  <button class="btn btn-light btn-sm bg-white has-icon btn-block" type="button">Edit</button>
                  <button class="btn btn-light btn-sm bg-white has-icon ml-2" type="button">Delete</button>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>