<h2 class="text-center my-3">Add Salle</h2>
<div class="container my-5 w-50">
<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Heure debut</label>
        <input type="text" class="form-control" id="inputEmail4" >
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Heure fin</label>
        <input type="text" class="form-control" id="inputEmail4" >
      </div>
      
    </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Resume</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    <div class="form-group">
      <label for="inputAddress2">Objectif</label>
      <input type="text" class="form-control" id="inputAddress2">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Etat</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Type</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>Cours</option>
          <option>Formation</option>
          <option>Rattrapage</option>
        </select>
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>