<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card my-5">

          <form class="card-body cardbody-color p-lg-5">

            <div class="text-center">
              <img src="https://media.istockphoto.com/vectors/student-avatar-flat-icon-flat-vector-illustration-symbol-design-vector-id1212812078?k=20&m=1212812078&s=170667a&w=0&h=Pl6TaYY87D2nWwRSWmdtJJ0DKeD5vPowomY9fyeqNOs=" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                width="200px" alt="University-Management-Icon">
            </div>
            <div class="row my-3">
                <div class="col">
                  <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Last name">
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="row my-3">
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                </div>
            </div>
            <div class="row">
                <div class="col">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>